.photo-grid {
  width: calc(100% - 96px);
  margin: 0 auto;
  margin-top: 92px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, auto));
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    width: calc(100% - 48px);
    margin-top: 88px;
    margin-left: 24px;
    margin-right: 24px;
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    width: calc(100% - 32px);
    margin-top: 64px;
    margin-left: 16px;
    margin-right: 16px;
    gap: 12px;
  }
}
