.card__text {
  max-width: 484px;
  grid-column: 2/3;
}

@media screen and (max-width: 767px) {
  .card__text {
    margin-left: 16px;
    margin-right: 16px;
    grid-column: auto;
    grid-row: auto;
  }
}
