@font-face {
  src: url('./Inter-Regular.woff'), url('./Inter-Regular.woff2');
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url('./Inter-Bold.woff'), url('./Inter-Bold.woff2');
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: url('./Inter-ExtraBold.woff'), url('./Inter-ExtraBold.woff2');
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
}
