@font-face {
  src: url('./Inter-Regular.woff'), url('./Inter-Regular.woff2');
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('./Inter-Bold.woff'), url('./Inter-Bold.woff2');
  font-family: 'Inter';
  font-style: bold;
  font-weight: bold;
}

@font-face {
  src: url('./Inter-Italic.woff'), url('./Inter-Italic.woff2');
  font-family: 'Inter';
  font-style: italic;
  font-weight: italic;
}
