.cover__title {
  max-width: 560px;
  margin: 0;
  font-size: 72px;
  line-height: 1.05;
  font-weight: 900;
  text-align: center;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 250px;
  }
}
