.card {
  margin: 0 auto;
  display: grid;
  gap: 48px 40px;
  grid-template-columns: repeat(auto-fit, minmax(320px, auto));

}

@media screen and (max-width: 1279px) {
  .card {
    gap: 48px 32px;
    }
}

@media screen and (max-width: 1023px) {
  .card {
    gap: 48px 28px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
